/.gitattributes export-ignore
/.gitignore export-ignore
/DEVELOPMENT.md export-ignore
/README.md export-ignore
/docgen/ export-ignore
/install_amqp.sh export-ignore
/phpunit.xml.dist export-ignore
/test.php export-ignore
/tests/ export-ignore
/testscenario/ export-ignore
