/.gitattributes export-ignore
/.gitignore export-ignore
/DEVELOPMENT.md
/README.md export-ignore
/docgen export-ignore
/install_amqp.sh export-ignore
/test.php export-ignore
/testscenario export-ignore
/unittest export-ignore
